# verification

**Framework**: StoreKit Test  
**Kind**: property  
**Role**: Type Property

**Availability**:
- iOS 17.0+
- iPadOS 17.0+
- Mac Catalyst 17.0+
- macOS 14.0+
- tvOS 17.0+
- visionOS 1.0+
- watchOS 10.0+

## Declaration

```swift
static var verification: StoreKitVerificationAPI { get }
```

Available when `Self` is `StoreKitVerificationAPI`.

## See Also

### Type Properties
- [static var appStoreSync: StoreKitAppStoreSyncAPI](./appstoresync.md)
- [static var appTransaction: StoreKitAppTransactionAPI](./apptransaction.md)
- [static var loadProducts: StoreKitLoadProductsAPI](./loadproducts.md)
- [static var manageSubscriptions: StoreKitManageSubscriptionsAPI](./managesubscriptions.md)
- [static var offerCodeRedeem: StoreKitOfferCodeRedeemAPI](./offercoderedeem.md)
- [static var purchase: StoreKitPurchaseAPI](./purchase.md)
- [static var refundRequest: StoreKitRefundRequestAPI](./refundrequest.md)
- [static var subscriptionStatus: StoreKitSubscriptionStatusAPI](./subscriptionstatus.md)


---

*[View on Apple Developer](https://developer.apple.com/documentation/storekittest/failablestorekitapi/verification)*