# kAudioComponentConfigurationInfo_ValidationResult

**Framework**: Audio Toolbox  
**Kind**: var

**Availability**:
- iOS ?+
- iPadOS ?+
- Mac Catalyst ?+
- macOS ?+
- tvOS ?+
- visionOS ?+

## Declaration

```swift
var kAudioComponentConfigurationInfo_ValidationResult: String { get }
```

## See Also

- [let kAudioComponentInstanceInvalidationNotification: CFString](kaudiocomponentinstanceinvalidationnotification.md)
- [let kAudioComponentRegistrationsChangedNotification: CFString](kaudiocomponentregistrationschangednotification.md)
- [var kAudioComponentValidationParameter_ForceValidation: String](kaudiocomponentvalidationparameter_forcevalidation.md)
- [var kAudioComponentValidationParameter_TimeOut: String](kaudiocomponentvalidationparameter_timeout.md)


---

*[View on Apple Developer](https://developer.apple.com/documentation/audiotoolbox/kaudiocomponentconfigurationinfo_validationresult)*