# SKTestFailures.Verification

**Framework**: StoreKit Test  
**Kind**: enum  
**Role**: Enumeration

**Availability**:
- iOS 17.0+
- iPadOS 17.0+
- Mac Catalyst 17.0+
- macOS 14.0+
- tvOS 17.0+
- visionOS 1.0+
- watchOS 10.0+

## Declaration

```swift
enum Verification
```

## Topics

### Enumeration Cases
- [case verification(VerificationResult<Any>.VerificationError)](./verification/verification%28_%29.md)

## Relationships

### Conforms To
- [Equatable](../../Swift/equatable.md)
- [SKTestFailure](../sktestfailure.md)
- [Sendable](../../Swift/sendable.md)
- [SendableMetatype](../../Swift/sendablemetatype.md)

## See Also

### Enumerations
- [SKTestFailures.AppStoreSync](./appstoresync.md)
- [SKTestFailures.AppTransaction](./apptransaction.md)
- [SKTestFailures.LoadProducts](./loadproducts.md)
- [SKTestFailures.ManageSubscriptions](./managesubscriptions.md)
- [SKTestFailures.OfferCodeRedeem](./offercoderedeem.md)
- [SKTestFailures.Purchase](./purchase.md)
- [SKTestFailures.RefundRequest](./refundrequest.md)
- [SKTestFailures.SubscriptionStatus](./subscriptionstatus.md)


---

*[View on Apple Developer](https://developer.apple.com/documentation/storekittest/sktestfailures/verification)*